@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-soleil, Arial, Helvetica, sans-serif);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-noise-png {
  opacity: 0.14;
  background-image: url(https://cdn.prod.website-files.com/64084dfdb78deb68d06600ed/641c3042046d40dbf1cabd3c_noiseTile.png);
  background-position: top left;
  background-size: cover;
  background-attachment: scroll;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
  z-index: 9999;
}
