@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-soleil, Arial, Helvetica, sans-serif);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-noise-png {
  opacity: 0.14;
  background-image: url(https://cdn.prod.website-files.com/64084dfdb78deb68d06600ed/641c3042046d40dbf1cabd3c_noiseTile.png);
  background-position: top left;
  background-size: cover;
  background-attachment: scroll;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
  z-index: 9999;
}
.bacground-gradient-2 {
  background-image: url(https://cdn.prod.website-files.com/64084dfdb78deb68d06600ed/6410418e268519401c97144f_image%2012.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-noise-png {
  opacity: .14;
  object-fit: cover;
  background-image: url('https://cdn.prod.website-files.com/64084dfdb78deb68d06600ed/641c3042046d40dbf1cabd3c_noiseTile.png');
  background-position: 0 0;
  background-size: auto;
  background-attachment: scroll;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0% auto auto 0%;
}
.section-gray25-bg.background-gradient-4 {
  background-image: url(https://cdn.prod.website-files.com/64084dfdb78deb68d06600ed/6410594415fa7b862eacd8b9_Features%20section-img.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.review-lead--card {
  background: linear-gradient(110.65deg, #FFFFFF 1.16%, rgba(255, 255, 255, 0.2) 100%) !important;
}
.c-review-cards {
  background-image: url(https://cdn.prod.website-files.com/64084df…/640f474…_Group%202295%20.png);
  background-position: 50%;
  background-size: cover;
  margin-top: 64px;
  position: relative;
}
.review-gradient {
  z-index: 9;
  background-image: linear-gradient(#fcfcfd, #fcfcfd1a);
  height: 128px;
  position: absolute;
  inset: 0% 0% auto;
}
.review-gradient.is--bot {
  background-image: linear-gradient(#fcfcfd 20%, #fcfcfd1a);
  inset: auto 0% 0%;
  transform: rotate(180deg);
}
.animate-scroll {
  animation: scroll 2360ms linear infinite;
}
@keyframes scroll {
  100% {
    transform: translateY(-50%);
}
}